<!-- Generated template for the StatChartComponent component -->
<div class="row">
  <button ion-button (click)="changeCurrentChart(lineChartLabelsYear,'year')" [color]="isActive('year') ? 'secondary' : 'primary'">Année</button>
  <button ion-button (click)="changeCurrentChart(lineChartLabelsMonth, 'month')" [color]="isActive('month') ?'secondary' : 'primary'">Mois</button>
  <button ion-button (click)="changeCurrentChart(lineChartLabelsDay, 'day')" [color]="isActive('day') ? 'secondary' : 'primary'">Journée</button>
</div>
<div style="display: block;">
  <canvas baseChart width="80%" height="90%"
          [datasets]="lineChartData"
          [labels]="currentChart"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          chartType="line"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<div *ngIf="isActive('year')">
  <label class="label-ios-primary">Choisir une année</label>
  <div class="row">
    <ion-input type="number" [(ngModel)]="currentYear" min="2017" [max]="currentYear"></ion-input>
    <button ion-button (click)="changeCurrentChart(lineChartLabelsYear,'year')">Valider</button>
  </div>
</div>
<div *ngIf="isActive('month')">
  <label class="label-ios-primary">Choisir un mois</label>
  <div class="row">
    <select name="Choisir un mois" (change)="onChange($event.target.value)">
      <option *ngFor="let day of lineChartLabelsYear">{{day}}</option>
    </select>
    <ion-input type="number" [(ngModel)]="currentYear" min="2017" [max]="currentYear"></ion-input>
    <button ion-button (click)="changeCurrentChart(lineChartLabelsMonth, 'month')">Valider</button>
  </div>
</div>
<div *ngIf="isActive('day')">
  <ion-label>Choisir un jour</ion-label>
  <div class="row">
    <ion-input type="date" [max]="maxDay" [(ngModel)]="currentDay"></ion-input>
    <button ion-button (click)="changeCurrentChart(lineChartLabelsDay, 'day')">Valider</button>
  </div>
</div>


