page-solar-panel-details {
  .slider-comp {
    margin-top: 30%;
    margin-bottom: 40%;
    .slider-temp {

      .rs-block {
        background-color: color($colors, primary, base);
      }

      .rs-tooltip-text {
        font-size: 1.4em;
        width: 55px !important;
      }
    }
  }

  .current-temp {
    font-size: 32px;

    ion-icon {
      color: red;
    }
  }

  .inline-buttons-2 {
    button {
      width: 48%;
    }
  }
}
