<!--
  Generated template for the SolarPanelDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Solar Panel </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button color="secondary" [hidden]="!solarPanel.isOn" (tap)="tooglePanelState()">On</button>
        <button ion-button color="danger" [hidden]="solarPanel.isOn" (tap)="tooglePanelState()">Off</button>
      </ion-col>

      <ion-col col-6>
        <ion-item no-lines *ngIf="solarPanel.temperature !== null" class="current-temp">
          <ion-icon name="thermometer"></ion-icon>
          {{ solarPanel.temperature | number: '.1-2' }}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="slider-comp">
    <div id="slider-temp" class="slider-temp mx-auto" (stop)="tempChanged()"></div>
    <ion-title class="mx-auto">Speed</ion-title>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col offset-1 col-5 style="margin-right: 10px;">
        <div class="mx-auto">
          <button ion-button color="primary" (tap)="tapHistoryPage()" icon-left>
            <ion-icon ios="ios-stats" md="md-stats"></ion-icon>
            Historique
          </button>
        </div>
      </ion-col>
      <ion-col col-5>
        <div class="mx-auto">
          <button ion-button color="primary" class="mx-auto" (tap)="tapPlanificationPage()" icon-left>
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
            Planifier
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
