<!-- TODO form valdiation -->
<form [formGroup]="signupForm" (ngSubmit)="submitSignUpForm()">
  <ion-item>
    <ion-label floating class="pad-left">Email</ion-label>
    <ion-input type="email" name="email" [formControl]="signupForm.controls['email']" [(ngModel)]="user.email" [class.invalid]="isInValid('email')" ></ion-input>
  </ion-item>
  <ion-item *ngIf="isInValid('email')">
    <p>Please enter a valid email.<br/> ex : example@isp.com</p>
  </ion-item>

  <ion-item>
    <ion-label floating class="pad-left">Username</ion-label>
    <ion-input type="text" name="username" [formControl]="signupForm.controls['username']" [(ngModel)]="user.username" [class.invalid]="isInValid('username')"></ion-input>
  </ion-item>
  <ion-item *ngIf="isInValid('username')">
    <p>Please enter a valid username.<br/> (Between 5 and 42 characters)</p>
  </ion-item>

  <ion-item>
    <ion-label floating class="pad-left">Password</ion-label>
    <ion-input type="password" name="password" [formControl]="signupForm.controls['passwords'].controls['password']" [(ngModel)]="user.password" [class.invalid]="isInValid('passwords')"></ion-input>
  </ion-item>
  <ion-item *ngIf="isInValid('passwords')">
    <p>Please enter a valid password.<br/> (Between 4 and 42 characters)</p>
  </ion-item>

  <ion-item>
    <ion-label floating class="pad-left">Repeat Password</ion-label>
    <ion-input type="password" name="repeat" [formControl]="signupForm.controls['passwords'].controls['repeat']" [(ngModel)]="user.passwordRepeat" [class.invalid]="isInValid('passwords')"></ion-input>
  </ion-item>
  <ion-item *ngIf="isInValid('passwords')">
    <p>Passwords should match</p>
  </ion-item>

  <button ion-button type="submit" block>Sign up</button>
</form>
