<!--
  Generated template for HistoryPagetory page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Historique</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <stat-chart-component [panel]="navParams.get('panel')"></stat-chart-component>
</ion-content>
