prevision-calendar-component {

  // calendar.comp.scss
  .calendar-comp {
    .columnHeader {
      text-align: center;
      font-weight: bold;
    }
    .cal-today {
      .cal-day-number {
        font-size: 1.5em !important;
      }
    }
    .cal-day-cell {
      min-height: 60px;
    }
    .cal-cell-top {
      min-height: 30px;
    }
    .cal-day-number {
      font-size: 1em;
      margin-top: 10px;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .cal-day-badge {
      display: none;
    }

  }

  .add-circle-icon {
    font-size:50px;
    float:right;
  }
}

.add-event {
  float:right;
}

.next-month {
  font-size:20px;
  float:right;
}

.previous-month {
  font-size:20px;
  float:left;
}

.show-month {
  text-align: center;
  font-size:20px;
}

.input-list {
  font-size:13px;
}
