<div>
  <ion-icon class="previous-month" ios="ios-arrow-dropleft-circle" md="md-arrow-dropleft-circle" (click)="previousMonth()"></ion-icon>
  <ion-icon class="next-month" ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle" (click)="nextMonth()"></ion-icon>
  <div class="show-month">{{showMonth(currentDate.getMonth())}}</div>
</div>

<div class="calendar-comp">
  <template #headerTemp>
    <div class="cal-cell-row">
      <div class="cal-cell cal-past columnHeader" *ngFor="let label of days_label">
        {{label}}
      </div>
    </div>
  </template>
  <mwl-calendar-month-view [viewDate]="currentDate" [headerTemplate]="headerTemp" [events]="calEvents" (click)="changeCurrentDay($event)" (eventClicked)="showConfirm($event)" [activeDayIsOpen]="openActiveDay">
  </mwl-calendar-month-view>

  <ion-icon class="add-circle-icon align-bottom" ios="ios-add-circle" md="md-add-circle" [hidden]="toggleAddEvent_m" (click)="toggleAddEvent()"></ion-icon>

</div>

<div [hidden]="!toggleAddEvent_m">
<ion-item>
  <ion-label>Heure de début</ion-label>
  <ion-multi-picker item-content [formControl]="formGroupDeb.controls.time"></ion-multi-picker>
</ion-item>

<ion-item>
  <ion-label>Heure de fin</ion-label>
  <ion-multi-picker item-content [min]="formGroupDeb.controls.time.value" [formControl]="formGroupFin.controls.time"></ion-multi-picker>
</ion-item>

  <ion-item>
    <ion-label>Action</ion-label>
    <ion-select [(ngModel)]=stateEvent>
      <ion-option selected value="on">On</ion-option>
      <ion-option value="off">Off</ion-option>
    </ion-select>
  </ion-item>

  <button class="add-event" (click)="addEvent()" ion-button  icon-left>
    <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
    Planifier
  </button>

</div>
