
<ion-card (click)="tapSolarPanel()">
  <ion-item class="panel-item">
    <ion-icon item-left name="create" (click)="presentRenamePrompt(); $event.stopPropagation()"></ion-icon>
    {{ solarPanel.name }}
    <span [hidden]="solarPanel.name"> Give me a name !</span>
    <ion-chip item-right [hidden]="!solarPanel.isOn" color="secondary"> <span style="height: 15px; width: 15px;"></span> </ion-chip>
    <ion-chip item-right [hidden]="solarPanel.isOn" color="danger"> <span style="height: 15px; width: 15px;"></span> </ion-chip>
  </ion-item>
</ion-card>
