<!-- Generated template for the DashboardComponent component -->
<div class="dashboard">
  <solar-panel-component *ngFor="let solPan of solarPanels" [solarPanel]="solPan" (click)="error = null"></solar-panel-component>

  <ion-card (click)="presentRegisterPrompt()" class="register-panel">
    <button ion-button icon-only class="no-margin full-btn">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-card>

  <div [hidden]="!error" class="alert alert-danger">
    {{ error }}
  </div>
</div>
