dashboard-component {
  .no-margin {
    margin: 0px;
  }

  ion-card {
    button.full-btn {
      border-radius: 0px;
      /*height: 100%;
      width: 100%;*/
    }
  }

  .register-panel {
    ion-icon {
      font-size: 2.6em;
    }
  }
}
