<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> Home </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="user">
  <ion-img style="width: 80px; height: 80px; margin-left: auto;margin-right: auto; display: block;" src="/assets/icon/logo.png"></ion-img>

  <ion-card>
    <ion-title>You are logged as {{user.name}}</ion-title>
  </ion-card>

  <dashboard-component></dashboard-component>

</ion-content>
