<!--
  Generated template for the Logging page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Log in</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="form" color="primary">
    <ion-segment-button value="signin">
      Sign In
    </ion-segment-button>
    <ion-segment-button value="signup">
      Sign Up
    </ion-segment-button>
  </ion-segment>

  <sign-in-component *ngIf="form == 'signin'"></sign-in-component>
  <sign-up-component *ngIf="form == 'signup'"></sign-up-component>

</ion-content>
