<!--
  Generated template for the Planification page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Planification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <prevision-calendar-component [panel]="navParams.get('panel')"></prevision-calendar-component>
</ion-content>
