
<form [formGroup]="signinForm" (ngSubmit)="submitLoginForm()">
  <ion-item>
    <ion-label floating class="pad-left">Email</ion-label>
    <ion-input type="email" name="email" [formControl]="signinForm.controls['email']" [(ngModel)]="usercreds.email" [class.invalid]="isInValid('email')"></ion-input>
  </ion-item>
  <ion-item *ngIf="isInValid('email')">
    <p>Please enter a valid email.<br/> ex : example@isp.com</p>
  </ion-item>
  <ion-item>
    <ion-label floating class="pad-left">Password</ion-label>
    <ion-input type="password" name="password" [formControl]="signinForm.controls['password']" [(ngModel)]="usercreds.password" [class.invalid]="isInValid('password')"></ion-input>
  </ion-item>
  <ion-item *ngIf="isInValid('password')">
    <p>Please enter a valid password.<br/> (Between 4 and 42 characters)</p>
  </ion-item>
  <button ion-button type="submit" block>Sign in</button>
</form>

<div *ngIf="message" [ngClass]="'alert alert-' + message.status">
  {{ message.msg }}
</div>
